<div class="containerMine">
  <div class="animate__animated animate__backInDown">
    <p class="brand">Eteranix</p>
  </div>
  <div class="animate__animated animate__fadeIn notice">
    <p>PERSONAL CLOUD</p>
  </div>
  <div class="animate__animated animate__fadeIn box">
    <form>
      <div>
        <input type="text" placeholder="e-mail">
        <button type="button">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div>
        <input type="text" placeholder="password">
        <button type="button">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
      </div>
      <input type="button" value="Let me in">
    </form>
  </div>
</div>
