<div class="containerMine">
  <div class="containerMine2 animate__animated animate__zoomIn">
    <div class="navBarDown">
      <div class="navBarDownContainer">
        <div class="nameOfCategory">
          <p>Avengers</p>
        </div>
        <div class="listOfMovies" #panel>
          <div class="arrowLeft" (click)="onClickLeft()" (mousemove)="onClickLeft()">
            <span class="glyphicon glyphicon-menu-left"></span>
          </div>
          <div class="oneMovie">
            <img src="../../assets/eternals.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021 2 gnfns sghgs sgh sg</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021 3 shsghg shsgfhh shsfghsfhsfg</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021 4</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="oneMovie">
            <img src="../../assets/movies.jpg" alt="">
            <p>Eternals 2021</p>
          </div>
          <div class="arrowRight" (click)="onClickRight()" (mousemove)="onClickRight()">
            <span class="glyphicon glyphicon-menu-right"></span>
          </div>
        </div>
      </div>
    </div>
    <div
      [class]="navBar">
      <div [class]="spanButton">
        <button (click)="spanButtonChange()">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
      </div>
      <div
        class="chooseBar"
        (mouseenter)="navBarVisible()"
        (mouseleave)="navBarInvisible()">
        <p>Avengers</p>
        <p>Other sci-fi</p>
        <p>Comedy</p>
        <p>Star Wars</p>
        <p>Documentary</p>
        <p>Fantasy</p>
        <p>Horror</p>
        <p>Thriller</p>
        <p>Horror</p>
        <p>Thriller</p>
      </div>
    </div>
  </div>
</div>
