<div class="containerMine">
  <div class="containerBlack animate__animated animate__bounceInUp">
    <div class="containerLeftUp animate__animated animate__fadeInTopLeft">
      <p class="paragraphMain" (click)="onMovies()">Movies</p>
    </div>
    <div class="containerRightUp animate__animated animate__fadeInTopRight">
      <p class="paragraphMain">Music</p>
    </div>
    <div class="containerLeftDown animate__animated animate__fadeInBottomLeft">
      <p class="paragraphMain">Files</p>
    </div>
    <div class="containerRightDown animate__animated animate__fadeInBottomRight">
      <p class="paragraphMain">Settings</p>
    </div>
    <div class="animate__animated animate__fadeIn footer">
      <p>ETERANIX 2022</p>
      <p>&copy; All rights reserved</p>
      <p>CONTACT</p>
    </div>
  </div>
</div>
